*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  min-height: 100vh;
  max-width: 100%;
  line-height: 1.5;
}

a {
  text-decoration: none;
}
